<h3>Administration Centre</h3>

<ul>
<li>
  <a href="[% c.uri_for('/admin/approve') %]">Review and Approve Group Registrations</a>
</li>
<li>
  <a href="[% c.uri_for('/admin/approve_gcc') %]">Review and Approve Group Contact Changes</a>
</li>
<li>
  <a href="[% c.uri_for("/staff/search_groups") %]">Search Groups</a>
</li>
<li>
  <a href="[% c.uri_for("/staff/search_users") %]">Search Users</a>
</li>
</ul>

