[% META title = 'Group List' -%]

<p>You are a member of the following groups:</p>

<ul>
[% FOREACH group IN groups -%]
  <li>[% group.group_name %]</li>
[% END %]
</ul>

<p>You have the following group applications pending:</p>

<ul>
[% FOREACH group IN pendinggroups -%]
  <li>
    <a href="[% c.uri_for("/group/${group.id}/view") %]">[% group.group_name | html %]</a>
  </li>
[% END %]
</ul>

