[% META title = 'Group Verify' %]

<h2>Verify [% group.group_name %]</h2>
How do you want to verify this group?<br/><br/>
<a href="[% c.uri_for ("/group/${group.id}/verify/web"); %]">Verify by uploading a file</a><br/><br/>
<a href="[% c.uri_for ("/group/${group.id}/verify/dns"); %]">Verify by creating a CNAME record</a><br/><br/>
<a href="[% c.uri_for ("/group/${group.id}/verify/git"); %]">Verify by a git commit</a><br/><br/>
<a href="[% c.uri_for ("/group/${group.id}/verify/other"); %]">I cannot do any of the above</a><br/><br/>
